
body{
    font-family: 'Roboto', sans-serif;
}

.top-header{
    background-color: #FFFBF0;
    padding-bottom: 100px;
}
.menu ul li{
    font-weight: bold;
}
.btn{
    background-color: #A4BC46;
    color: #FFFBF0;
    font-size: small;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
.heading-1{
    color: #FABE4C;
    font-size: 60px;
}
.heading-2{
    font-size: 60px;
}
.sec-heading{
    margin-top: 50px;
    margin-bottom: 30px;
}
.top-banner-left{
    padding-top: 110px;
    padding-left: 25px;
}
.card-img-top{
    background-color: #F1F1F1;
    width: 100%;
    border-radius: 15px;
}
.footer-card h2{
    color: #FABE4C;
}
.button-css{
    position: relative;
    top: 5px;
    left: 0;
}
.shopping-img{
    width: 98%;
    position: relative;
    top: 100px;
    left: 10px
}
